@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000381}}
.comment__content, .field--type-taxonomy-term-reference .field__items, .pager, .site-branding {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .comment__content:before, .field--type-taxonomy-term-reference .field__items:before, .pager:before, .site-branding:before, .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .comment__content:after, .field--type-taxonomy-term-reference .field__items:after, .pager:after, .site-branding:after {
    clear: both; }

/**
 * $ARROW
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_hlist\.scss}line{font-family:\000034}}
.block--system-user-menu .menu, .block--nav-bar .menu, .action-links, .breadcrumb {
  margin: 0;
  padding: 0;
  border: 0;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .block--system-user-menu .menu:before, .block--nav-bar .menu:before, .action-links:before, .breadcrumb:before, .block--system-user-menu .menu:after, .block--nav-bar .menu:after, .action-links:after, .breadcrumb:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .block--system-user-menu .menu:after, .block--nav-bar .menu:after, .action-links:after, .breadcrumb:after {
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000362}}
  .block--system-user-menu .menu li, .block--nav-bar .menu li, .action-links li, .breadcrumb li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left; }

/**
 * $ISLAND
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_island\.scss}line{font-family:\000034}}
.comment__content {
  display: block;
  margin-bottom: 1.42857em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_island\.scss}line{font-family:\0000310}}
  .comment__content > :last-child, .comment__content > :last-child {
    margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_island\.scss}line{font-family:\0000316}}
.comment__content {
  padding: 18px 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_forms\.scss}line{font-family:\000034}}
select:focus,
input:focus,
textarea:focus {
  -moz-box-shadow: 0 0 4px 1px rgba(43, 167, 255, 0.3);
  -webkit-box-shadow: 0 0 4px 1px rgba(43, 167, 255, 0.3);
  box-shadow: 0 0 4px 1px rgba(43, 167, 255, 0.3);
  outline: 1px solid #2ba7ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_forms\.scss}line{font-family:\0000310}}
fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: 9px 1em 18px 1em;
  border-color: #dddddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_forms\.scss}line{font-family:\0000318}}
legend {
  font-size: 18px;
  font-size: 1.28571rem;
  padding: 0 0.8em;
  color: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top; }

/**
 * $TABLES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\000034}}
table {
  width: 100%;
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\000039}}
th {
  padding: 0.5em 1em;
  background-color: #00267f;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\0000314}}
  th a,
  th a.active {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\0000318}}
    th a img,
    th a.active img {
      margin: 2px 3px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\0000323}}
td {
  padding: 0.5em 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\0000327}}
tr.odd {
  background: #e7f1f5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_tables\.scss}line{font-family:\0000330}}
tr.even {
  background: #f6fafb; }

/**
 * $FONT-FACE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003106}}
html {
  font-size: 87.5%;
  line-height: 1.42857em; }

/**
 * $BASE-TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000311}}
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #222222; }

/**
 * $LINKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000319}}
a {
  color: #0082dd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000318}}
  a:visited {
    color: #0082dd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000321}}
  a:focus {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
  a:hover {
    color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-core-1\.0\.0\.alpha\.17\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000327}}
  a:active {
    color: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000323}}
a:hover {
  color: white; }

/**
 * $HEADINGS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000329}}
h1, .alpha,
h2, .beta,
h3, .gamma, .site-branding__name,
h4, .delta, caption,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #464a4e;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000340}}
  h1 a,
  h1 a:visited, .alpha a,
  .alpha a:visited,
  h2 a,
  h2 a:visited, .beta a,
  .beta a:visited,
  h3 a,
  h3 a:visited, .gamma a, .site-branding__name a,
  .gamma a:visited,
  .site-branding__name a:visited,
  h4 a,
  h4 a:visited, .delta a, caption a,
  .delta a:visited,
  caption a:visited,
  h5 a,
  h5 a:visited, .epsilon a,
  .epsilon a:visited,
  h6 a,
  h6 a:visited, .zeta a,
  .zeta a:visited {
    color: inherit;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
  h1 a:hover, .alpha a:hover,
  h2 a:hover, .beta a:hover,
  h3 a:hover, .gamma a:hover, .site-branding__name a:hover,
  h4 a:hover, .delta a:hover, caption a:hover,
  h5 a:hover, .epsilon a:hover,
  h6 a:hover, .zeta a:hover {
    color: #18599b; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000350}}
h1, .alpha {
  font-size: 55px;
  font-size: 3.92857rem;
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000354}}
h2, .beta {
  font-size: 34px;
  font-size: 2.42857rem;
  font-weight: 700;
  color: #00267f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000359}}
h3, .gamma, .site-branding__name {
  font-size: 21px;
  font-size: 1.5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000362}}
h4, .delta, caption {
  font-size: 18px;
  font-size: 1.28571rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000365}}
h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000369}}
h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #00267f; }

/**
 * $PARAGRAPHS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000377}}
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000382}}
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\0000390}}
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  border-left-width: 0.71429em;
  border-left-style: solid;
  padding-left: 0.71429em;
  font-style: italic;
  color: #18599b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\00003100}}
  blockquote p {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\00003105}}
q {
  font-style: italic; }

/**
 * $MARKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/base\/_typography\.scss}line{font-family:\00003112}}
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/*
 .sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: .3rem;
  font-size: 1.2rem;
}

.sf-menu {
	//float : left;
	position : relative;
	left : 50%;
	text-decoration: none;

	//underline remover
	a{text-decoration: none;}
	a:hover{
 		border-bottom-color: #DDDDDD;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	li {
		left : -50%;
		padding: .2rem;
	}
	li:hover {
 	//background-color:$h_colour;
	}
	// ul hover menu
	ul{background-color: blue;}
	ul a:hover {color: white;}
	ul li {
		left : 0%;
		//background-color: $h_colour;
		//top: -1.2em;
	}
	ul li a{color: $light-grey;}
	ul li a:hover{
		color: $a_hover_colour;
	}
}

*/
/**
 * $USER-MENU
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_block-user-menu\.scss}line{font-family:\000038}}
.block--system-user-menu a {
  padding: 0 0.6em;
  border-right: 1px solid #0082dd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_block-user-menu\.scss}line{font-family:\0000312}}
.block--system-user-menu li:first-child a {
  padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_block-user-menu\.scss}line{font-family:\0000315}}
.block--system-user-menu li:last-child a {
  padding-right: 0;
  border-right: 0; }

/**
 * $NAV-BAR
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_nav-bar\.scss}line{font-family:\000039}}
.block--nav-bar a {
  display: block;
  padding: 1.2em 1em;
  font-size: 16px;
  font-size: 1.14286rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_nav-bar\.scss}line{font-family:\0000318}}
  .block--nav-bar a:hover, .block--nav-bar a:focus {
    color: #18599b; }
@media (min-width: 600px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_nav-bar\.scss}line{font-family:\0000325}}
  .block--nav-bar a {
    font-size: 18px;
    font-size: 1.28571rem;
    border-left: 1px solid #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/blocks\/_nav-bar\.scss}line{font-family:\0000329}}
  .block--nav-bar li:last-child a {
    border-right: 1px solid #fff; } }

/**
 * $COMMENT-WRAPPER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment-wrapper\.scss}line{font-family:\000034}}
.comment-wrapper {
  padding: 18px 1em;
  background-color: #d9e9ef; }

/**
 * $COMMENT
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\000034}}
.comment__info {
  margin-top: 18px;
  margin-bottom: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\000038}}
  .comment__info .username {
    margin-bottom: 9px;
    color: #52b1ea;
    text-transform: uppercase;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000315}}
    .comment__info .username:hover {
      text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000321}}
.comment__content {
  background-color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000327}}
.comment__submitted {
  display: inline; }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000332}}
  .comment__info {
    float: left;
    width: 25%;
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000338}}
    .comment__info .user-picture {
      width: 70%;
      margin: 0 auto 9px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000342}}
    .comment__info .username {
      display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000347}}
  .comment__content {
    float: right;
    width: 70%;
    margin-left: 5%;
    position: relative;
    background: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_arrow\.scss}line{font-family:\0000328}}
    .comment__content:after, .comment__content:before {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/abstractions\/_arrow\.scss}line{font-family:\0000350}}
    .comment__content:after {
      border-color: transparent;
      border-right-color: white;
      border-width: 20px;
      top: 50%;
      margin-left: -20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000354}}
    .comment__content:after {
      top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/comments\/_comment\.scss}line{font-family:\0000359}}
  .comment__submitted {
    display: block;
    margin-bottom: 9px; } }
/**
 * $FIELD-TAXONOMY-TERM
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/fields\/_field-taxonomy-term\.scss}line{font-family:\000038}}
.field--type-taxonomy-term-reference .field__item {
  float: left;
  margin-right: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/fields\/_field-taxonomy-term\.scss}line{font-family:\0000317}}
.field--type-taxonomy-term-reference .field__items div:before {
  color: #FF0000;
  content: "#";
  font-weight: 500; }

/**
 * $FIELD
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/fields\/_field\.scss}line{font-family:\000034}}
.field {
  margin-bottom: 1.42857em; }

/**
 * $COLLAPSIBLE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\000034}}
html.js fieldset.collapsible {
  padding: 0;
  border: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\000038}}
  html.js fieldset.collapsible legend {
    width: 100%;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000312}}
  html.js fieldset.collapsible .fieldset-legend {
    padding: 0;
    background: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000316}}
    html.js fieldset.collapsible .fieldset-legend .summary {
      float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000320}}
  html.js fieldset.collapsible .fieldset-title {
    display: block;
    padding: 1em;
    background-color: #dddddd;
    color: #00267f;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000329}}
    html.js fieldset.collapsible .fieldset-title:hover {
      background-color: #00267f;
      color: #18599b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000334}}
  html.js fieldset.collapsible .fieldset-wrapper {
    padding: 18px 1em;
    border: 1px solid #dddddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_collapsible\.scss}line{font-family:\0000340}}
html.js fieldset.collapsed {
  height: 3.7em; }

/**
 * $FIELDSETS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_fieldsets\.scss}line{font-family:\000034}}
.form-wrapper {
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_fieldsets\.scss}line{font-family:\000039}}
.fieldset-description {
  margin-bottom: 9px;
  color: #6a7076;
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_fieldsets\.scss}line{font-family:\0000315}}
.vertical-tabs fieldset.vertical-tabs-pane {
  padding: 18px 1em; }

/**
 * $FILTER-TIPS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_filter-tips\.scss}line{font-family:\000034}}
.filter-wrapper {
  background-color: #fff; }

/**
 * $FORM-ITEM
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_form-items\.scss}line{font-family:\000034}}
.form-item {
  color: #6a7076; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_form-items\.scss}line{font-family:\000037}}
  .form-item label {
    margin-bottom: 0.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_form-items\.scss}line{font-family:\0000310}}
  .form-item .form-select,
  .form-item .form-text,
  .form-item .form-textarea {
    width: 100%;
    padding: 0.6em;
    background-color: #fff;
    border: 1px solid #dddddd;
    color: #6a7076;
    vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_form-items\.scss}line{font-family:\0000320}}
  .form-item .description {
    margin-top: 0.2em;
    font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_form-items\.scss}line{font-family:\0000327}}
.container-inline .form-select,
.container-inline .form-text,
.container-inline .form-textarea {
  width: auto; }

/**
 * $PASSWORD-CONFIRM
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_password-confirm\.scss}line{font-family:\000034}}
div.password-indicator,
div.password-confirm {
  margin-top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_password-confirm\.scss}line{font-family:\000039}}
div.password-indicator {
  margin-bottom: 0.4em; }

/**
 * $PASSWORD-INDICATOR
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_password-indicator\.scss}line{font-family:\000034}}
.password-indicator {
  height: 0.8em;
  background: none;
  border: 1px solid #dddddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_password-indicator\.scss}line{font-family:\000039}}
  .password-indicator .indicator {
    background: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_password-indicator\.scss}line{font-family:\0000314}}
.password-strength-title {
  margin-bottom: 0.2em; }

/**
 * $SEARCH-FORM
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/forms\/_search-form\.scss}line{font-family:\000035}}
.search-block-form .form-text {
  width: auto;
  padding: 0.4em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/header\/_header\.scss}line{font-family:\000032}}
.header.panels-flexible-4 .panels-flexible-row {
  padding: .5rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/header\/_header\.scss}line{font-family:\000035}}
.header {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #48515B;
  background: transparent url('../images/../images/marinelli_imgs/1.jpg?1388604485') center 0 no-repeat;
  overflow: hidden;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  display: block;
  height: 10rem;
  left: 0;
  opacity: 0.85;
  width: 100%;
  z-index: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/header\/_projects\.scss}line{font-family:\000033}}
.ProjectsLanding {
  display: none; }

/**
 * $ACTION-LINKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_action-links\.scss}line{font-family:\000034}}
.action-links {
  margin-bottom: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_action-links\.scss}line{font-family:\000038}}
  .action-links li {
    padding-left: 16px;
    background: transparent url('../images/../images/plus-blue.png?1400601710') left center no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_action-links\.scss}line{font-family:\0000313}}
    .action-links li a {
      color: #6a7076;
      text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_action-links\.scss}line{font-family:\0000317}}
      .action-links li a:hover {
        font-weight: 700; }

/**
 * $BREADCRUMB
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_breadcrumb\.scss}line{font-family:\000034}}
.breadcrumb {
  padding: .5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_breadcrumb\.scss}line{font-family:\000037}}
  .breadcrumb li {
    padding-right: 0.4em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_breadcrumb\.scss}line{font-family:\0000310}}
    .breadcrumb li:after {
      content: "»";
      padding-left: 0.4em;
      vertical-align: baseline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_breadcrumb\.scss}line{font-family:\0000315}}
    .breadcrumb li:last-child:after {
      content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/menus\/_breadcrumb\.scss}line{font-family:\0000320}}
  .breadcrumb a {
    text-decoration: none; }

/**
 * $BORDER-LIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_border-list\.scss}line{font-family:\000034}}
.border-list {
  padding: 0;
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_border-list\.scss}line{font-family:\000039}}
  .border-list li {
    padding-bottom: 1.42857em;
    margin-bottom: 1.42857em;
    border-bottom: 1px solid #dddddd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_border-list\.scss}line{font-family:\0000314}}
    .border-list li:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }

/**
 * $BUTTONS
 */
/* Base Button */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\000035}}
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: #222222;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000328}}
  .button, .button:hover, .button:active, .button:focus, .button:visited {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000336}}
  .button:hover {
    background-color: #6a7076; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000340}}
  .button:active, .button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000346}}
  .button::-moz-focus-inner {
    border: 0;
    padding: 0; }

/* Fill width of container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000353}}
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center; }

/* Inherit sizing from parent  */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000361}}
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em; }

/* Button Functions */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000371}}
.button--primary {
  background-color: #0082dd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000376}}
.button--secondary {
  background-color: transparent;
  border-color: #52b1ea;
  border-width: 0.07143em;
  border-style: solid;
  padding: 1.35714em;
  color: #52b1ea; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000382}}
  .button--secondary:hover {
    border-color: #6a7076;
    background-color: transparent;
    color: #6a7076; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000389}}
.button--positive {
  background-color: #4a993e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000391}}
  .button--positive:hover {
    background-color: #38752f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000396}}
.button--negative {
  background-color: #b33630; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\0000398}}
  .button--negative:hover {
    background-color: #8b2a25; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\00003103}}
.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none; }

/* Adjacent buttons should have some space between them. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_buttons\.scss}line{font-family:\00003114}}
.button + .button,
.button + a {
  margin-left: 1em; }

/**
 * $MESSAGES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_messages\.scss}line{font-family:\000034}}
.messages {
  padding-left: 10px;
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_messages\.scss}line{font-family:\000039}}
.messages--status {
  color: #00267f;
  background: #7fa5ff;
  border-color: #0045e5; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_messages\.scss}line{font-family:\0000315}}
.messages--warning {
  color: #d6c460;
  background: white;
  border-color: #ebe2b1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_messages\.scss}line{font-family:\0000321}}
.messages--error {
  color: #b33630;
  background: #f9eae9;
  border-color: #d97570; }

/**
 * $PAGER
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_pager\.scss}line{font-family:\000038}}
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_pager\.scss}line{font-family:\0000315}}
.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #6a7076;
  color: #6a7076;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_pager\.scss}line{font-family:\0000324}}
.pager__item a:hover {
  background-color: #0082dd;
  border-color: #0082dd;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_pager\.scss}line{font-family:\0000331}}
.pager__item--current {
  border-color: #0082dd;
  color: #0082dd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_pager\.scss}line{font-family:\0000337}}
.pager__item--ellipsis {
  border: none; }

/**
 * $PROGRESS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_progress\.scss}line{font-family:\000035}}
.progress .bar {
  background-color: #dddddd;
  border-color: #6a7076;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_progress\.scss}line{font-family:\0000310}}
.progress .filled {
  background: #00267f; }

/**
 * $SECTION-TITLE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_section-title\.scss}line{font-family:\000034}}
.section-title {
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
  border-bottom: 1px solid #bcd8e3; }

/**
 * $SITE-BRANDING
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\000034}}
.site-branding {
  padding: 1em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\000039}}
.site-branding__name,
.site-branding__logo {
  display: block;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\0000315}}
.site-branding__logo {
  width: 50px;
  margin-right: 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\0000319}}
.site-branding__name {
  color: #fff;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\0000324}}
  .site-branding__name:visited {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/misc\/_site-branding\.scss}line{font-family:\0000327}}
  .site-branding__name:hover {
    color: #18599b; }

/**
 * $NODE-BASIC-PAGE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/node\/_node-article\.scss}line{font-family:\000035}}
.node--article .field--name-field-image {
  float: left;
  margin: 0 2em 1em 0; }

/**
 * $NODE
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/node\/_node\.scss}line{font-family:\000034}}
.node--teaser {
  margin-bottom: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal\%207\%20Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/node\/_node\.scss}line{font-family:\000038}}
.node__links {
  margin-bottom: 18px; }
