// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  #toolbar, #admin-menu {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

//temp for testing
@import "variables/**/*";

.sf-menu {
//float : left;
position : relative;
left : 50%;
text-decoration: none;
font-size: 1.5rem;
}
.sf-menu a {text-decoration: none;}
.sf-menu ul li {
left : 0%;
background-color: $h_colour;
top: -1.2em;
}
.sf-menu ul li a{
 color: $light-grey;
}
.sf-menu ul li a:hover{
color: $link_colour;
}

.sf-menu li {
left : -50%;
padding: .2rem;
}
.sf-menu li:hover {
  background-color:$h_colour;
}
// keep the parent menu white when rolled off
.sf-menu li:hover a {color: $a_hover_colour;}
