/**
 * $COLLAPSIBLE
 */
html.js fieldset.collapsible { // Overspecified
  padding: 0;
  border: none;

  legend {
    width: 100%;
    padding: 0;
  }
  .fieldset-legend {
    padding: 0;
    background: none;

    .summary {
      float: right;
    }
  }
  .fieldset-title {
    display: block;
    padding: 1em;

    background-color: $bakcolour;

    color: $h2_colour;
    text-decoration: none;
    border-radius: $radius;

    &:hover {
      background-color: $h2_colour;
      color: $h_hover_colour;
    }
  }
  .fieldset-wrapper {
    padding: $vert-spacing-unit $horz-spacing-unit;
    border: 1px solid $bakcolour;
  }
}

html.js fieldset.collapsed { // Overspecified
  height: 3.7em; // padding-top + padding-bottom + line-height
}
