/**
 * $USERLOGIN-FORM
 */
.pane-user-login {
//Center positioning for form is not working
//how best the center position for form?
/* left: 40%;
  position: relative;
  width: 25rem;
*/
  text-align: center;
}