/**
 * $USERLOGIN-FORM
 */

.pane-user-login {
  text-align: center;
  ul {
	list-style: none outside none;
	padding: 0;
  }
}


/*

!! you should move this to the not-logged in file!!!
*/

.not-logged-in .bodycontent {
$maxer: 320px;
max-width: $maxer;
position: absolute;
left: 50%;
margin-left: ($maxer/2)*-1;
top: 50%;
transform: translateY(-50%);
box-shawdow:4px 4px 35px 5px $colouriii;
}

//need to make the site container 100% of the screen
.not-logged-in .sitecontainer {
	height: 100%;
	//extra spacing
	.bodycontent{padding: 1rem;}
}

.not-logged-in #mini-panel-right_menu {
  display: none;
}