/**
 * $USERLOGIN-FORM
 */

.pane-user-login {
  text-align: center;
}

.not-logged-in .bodycontent {
$maxer: 320px;
max-width: $maxer;
position: absolute;
left: 50%;
margin-left: ($maxer/2)*-1;
top: 50%;
transform: translateY(-50%);
}

//need to make the site container 100% of the screen
.not-logged-in .sitecontainer {
	height: 100%;
	//extra spacing
	.bodycontent{padding: 1rem;}
}