/**
 * $Case tracker
 */
.case, .project {position: absolute;
	right: 2%;
}

//text center titles
.pane-casetracker-project-cases, .pane-slots {
	.pane-title {text-align: center;}	
}


// for the case tracker pulldown / toggle
// to format the tables as other tables are.
.projects {
	.pane-casetracker-project-cases, .pane-slots {
	table {	@include backgrund;}
	}
}

//align the slot in case priority numbers
.node--casetracker-basic-case .field--label-above {display: flex;}
