/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: $vert-spacing-unit;
}

.messages--status {
  color: $colouri;
  background: lighten($colouri, 50%);
  border-color: lighten($colouri, 20%);
}

.messages--warning {
  color: $colourvii;
  background: lighten($colourvii, 50%);
  border-color: lighten($colourvii, 20%);
}

.messages--error {
  color: $colourii;
  background: lighten($colourii, 50%);
  border-color: lighten($colourii, 20%);
}
