/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: $vert-spacing-unit;
}

.messages--status {
  color: $h2_colour;
  background: lighten($h2_colour, 50%);
  border-color: lighten($h2_colour, 20%);
}

.messages--warning {
  color: $msgs;
  background: lighten($msgs, 50%);
  border-color: lighten($msgs, 20%);
}

.messages--error {
  color: $buttonbak2;
  background: lighten($buttonbak2, 50%);
  border-color: lighten($buttonbak2, 20%);
}
