/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 50px;
  margin-right: $horz-spacing-unit;
}
.site-branding__name {
  @extend .gamma;
  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: $colourii;
  }
}

//padding to make the body container look cool
.sitecontainer .bodyrow{
  padding: 1rem;
}
// this is the body container
.bodycontent {
  @include backgrund;
  //add content padding from edge.
  .inside {padding: .2rem;}
}

//spacing for header
.header > div {
  padding: 0.5rem;
}
//breadcrumb padding
.breadcrumb {
  padding-bottom: 0.5rem;
}
//override the block inline edit for projects button and search
html.js .contextual-links-wrapper, .contextual-links-region:hover .contextual-links-trigger, .contextual-links-active .contextual-links-trigger, .contextual-links-active .contextual-links {

  display: none !important;
}

// this is the full site container
.sitecontainer {
background:url("../images/../images/marinelli_imgs/1.jpg?1388604485") no-repeat fixed center ;
background-size: cover;
//height: 100%;
}
