/**
 * $NODE
 */
.node--teaser {
  margin-bottom: $vert-spacing-unit;
}

.node__links {
  margin-bottom: $vert-spacing-unit;
}

.pane-page-title {
	margin-top: $vert-spacing-unit;
	margin-bottom: $vert-spacing-unit;
}