/**
 * $COMMENT
 */

//new comment indicator
.new {
  color: $colourv;
  font-size: 1rem;
  font-style: italic;
}

// rt comment header
.comments {
  h2 {font-size: 1.5rem}
  .comment-form {font-style: italic;
    width: 50%}
  .form {max-width: 800px}
}

//color the comment box
.comment {background-color:$oddrow;
  border-radius: .5rem;
  padding:.5rem;
  margin-bottom: 0.5rem;
.comment-text{color: $bodycolor;}
}
//to pad "add new comments"
//.comment-form {padding: 2rem 0;}

//below is default CSS are these even the right selectors?
.comment__info {
  margin-top: $vert-spacing-unit;
  margin-bottom: $vert-spacing-unit;

  .username {
    margin-bottom: $vert-spacing-unit / 2;

    color: $markerbak;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment__content {
  background-color: #fff;

  @extend %island;
}

.comment__submitted {
  display: inline;
}

@include breakpoint($tab, true) {
  .comment__info {
    float: left;
    width: 25%;

    text-align: center;

    .user-picture {
      width: 70%;
      margin: 0 auto ($vert-spacing-unit / 2) auto;
    }
    .username {
      display: block;
    }
  }

  .comment__content {
    float: right;
    width: 70%;
    margin-left: 5%;

    @include arrow(left, 20px, #FFF);

    &:after {
      top: 20px;
    }
  }

  .comment__submitted {
    display: block;
    margin-bottom: $vert-spacing-unit / 2;
  }
}
