// Style the superfish menu

// size and spacing

 .sf-menu.menu, .sf-menu.menu ul, .sf-menu.menu li {
  margin: .3rem;
  font-size: 1.2rem;
}

//underline remover
.sf-menu a{
  text-decoration: none;
}

// ul hover menu

.sf-menu ul{
  background-color: blue;
}

.sf-menu ul a:hover {
  color: white;
}

.sf-menu a:hover{
  border-bottom-color: #DDDDDD;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}