// - ohm theme colours:

//Better variables
$link  : #0082DD;
$linkhover : blue;
$h2_colour :$link ; //is also table header, comment instruct
$h_hover_colour: purple;
$fontcolour: #222222;
$oddrow: pink;
$markerbak:#52b1ea;
$bakcolour: #ddd;
$bordercolour: #6a7076;
$msgs:#d6c460;
$linkactive: #FFFFFF;   //Is this correct?
$msgs     : #d6c460;


$a_hover_colour:#FFFF0D;
// header
$headerbackground:  #FFFFFF;
$headerlink: $link;
$headerlinkhover:$a_hover_colour;



//buttons
$buttonbak: #4a993e;
$buttonbak2: #b33630;

// legacy to fix

$button_h_colour:#00267F;
$backgroundcolour: #008000;
$h_colour    : #00267F;
$light-grey : #ddd;
