/*

*/
//scheme: http://colorschemedesigner.com/#3w51T--P6w0w0
//header colours
$colouriii: #0068ff;


// header
$colourii:  #333333;

//buttons

//tables
$oddrow: #bcbfc0;
// legacy to fix

$button_h_colour:#00267F;
$backgroundcolour: #008000;
$h_colour    : #00267F;

//Even Better

// main font colour
$colouri:#0000ff;
// main page background
$colourii:#ffff00;
// header / contrast background
$colouriii:#FFFFFF;
// header / contrast colour
$colouriv  : #00267F;

//white contrast background
$colourv:#00c12b;
$colourvi: #ff1800;
//table colours
$colourvii: #ddd;
$colourviii: #6a7076;
