// Set consistent vertical and horizontal spacing units.
//is this line height?
$vert-spacing-unit: 18px;
//what is this suppose to be?
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

$grids: 4;
$grids: add-grid(12 at $tab);

$gutters: 1/3;

//iphone
$breaki:max-width 640px;
// other breakpoint
// ipad could make this 1024px if I make the header better
$breakii:max-width 1125px;
//$brekiii: max-width 1266px;



$menu_size: $vert-spacing-unit*2.5;
//$menu_size2: 1.5rem;

//border radius size
$radius: 4px;
//icon sizes
$menu_size: 3rem;
$menu_size2: 2.5rem;