@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal7Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/_module_specific\/FullCalendar\.scss}line{font-family:\000034}}
.fullcalendar .stock {
  background-color: green; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal7Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/_module_specific\/FullCalendar\.scss}line{font-family:\000036}}
  .fullcalendar .stock .fc-event-time {
    background-color: green; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal7Development\/sites\/all\/themes\/omega_wiki\/sass\/components\/_module_specific\/FullCalendar\.scss}line{font-family:\0000314}}
.fc-event-default, .fc-event-default .fc-event-skin, .fc-event-default .fc-event-time, .fc-event-default a {
  border-style: none; }
