/**
 * $drupal Styling
 */


//override the default grey
ul.vertical-tabs-list li {
	background: none repeat scroll 0 0 !important;
}

// workblench override ugly colours
div.workbench-info-block {
	background: $colourvii;
	border-color: none;
	color: none;
}

/** login tobggan **/

.toboggan-unified {
	#login-links {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	a, a:hover {
		background-color: transparent !important;
		border: 0 solid transparent !important;
		padding: 0 !important;
	}	
	#login-link:first-child:after {
		content: ' /';
	}
}

.toboggan-unified #login-message {
  font-size: 1.7rem;
}

//responsive menus 
.dl-menuwrapper {
max-width: none;
}