/**
 * $Buttons
 */

button, .form-submit {
  color:$colouriii;
  -moz-user-select: none;
  background-color: $colouri;
  &:hover{background-color: $colourv;
    color: $colouri;
    }
  border: 0 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  line-height: 1.6rem;
  padding: 0 12px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  font-size: 1.3rem;
  height: 1.6em;
}