/**
 * $TABLES
 */
 $evenrow:lighten($oddrow, 8%);

 
table {
  width: 100%;
  color: $tfontcolour;
  margin-bottom: $vert-spacing-unit;
}

th {
  padding: 0.5em;
  background-color: $h2_colour;
  color: $evenrow;
  @include breakpoint ($breakii) {
      padding: 0 0.15rem;
  }
  a,
  a.active {
    color: $evenrow;

    img {
      margin: 2px 3px;
    }
  }
}
td {
  padding: 0 0.5em;
    @include breakpoint ($breakii) {
      padding: 0 0.15rem;
  }
}

tr.odd {
  background: lighten($oddrow, 4%);
}
tr.even {
  background: $evenrow;
}

caption {
  @extend .delta;
}
