//normalize
.header.panels-flexible-4 .panels-flexible-row {padding: .5rem;}

//cool opag header?
.header {
  background-attachment: scroll;
  background-clip: border-box;
//  background-color: #48515B;
  //background-image: none;
//  background: transparent image-url('../images/marinelli_imgs/1.jpg') center 0 no-repeat;
  background-origin: padding-box;
  background-position: 0 -77px;
//  background-repeat:no-repeat;
//  background-size: cover;
  display: block;
  height: 10rem;
  left: 0;
//  opacity: 0.85;
//  position: fixed;
//  top: 0;
  width: 100%;
  position: relative;
  z-index: 100;
}

.headerright div {
  display: inline-block;
}
