/**
 * $Search Autocomplete
 */

.ui-theme-basic-green.ui-autocomplete-input {
  background-image: url("../images/searchicon.png") !important;
  // !important no-repeat scroll center center #e2e2e2;
  background-position: center;
}

/*

.ui-theme-basic-green.ui-autocomplete-input {
  background-image: url("images/throbber.gif");
  background-position: 100% 4px;
  background-repeat: no-repeat;
}
*/