/**
 * $Toolbar module
 */

 //override the hamburger with a cog
.navbar-bar .navbar-icon-menu:before,
.no-svg .navbar-bar .navbar-icon-menu:before,
.navbar-bar .navbar-icon-menu:active:before,
.navbar-bar .navbar-icon-menu.navbar-active:before,
.no-svg .navbar-bar .navbar-icon-menu:active:before,
.no-svg .navbar-bar .navbar-icon-menu.navbar-active:before {
  background-image: url("../images/navbar_cog_override.png");
}

//indent for responsive menu
.navbar-tab:first-of-type {
	@include breakpoint($breaki) {
  margin-left: 2rem !important;
	}
}
//over top of repsonsive menu
#navbar-administration {
  z-index: 999;
}

//fix the position
.navbar-fixed #navbar-administration.navbar-oriented,
#navbar-administration.navbar-oriented .navbar-bar,
#navbar-administration.navbar-oriented .navbar-tray {
  position: fixed;

}
//navbar icon spacing
#navbar-administration .navbar-bar .navbar-icon {
	@include breakpoint($breaki) {
	  width: 3em;
	}
}

//make mobile icons bigger
#navbar-administration .navbar-bar .navbar-icon:before {
   	@include breakpoint($breaki) {
	background-size: 60% auto;
    }
}