/**
 * $FIELD-TAXONOMY-TERM
 */
.field--type-taxonomy-term-reference {
  .field__items {
    @include clearfix(true);
  }
  .field__item {
    float: left;
    margin-right: 0.5em;
  }
}


//RT testing other

.field--type-taxonomy-term-reference .field__items div:before{
// .field__items div:before {
  color: #FF0000;
  content: "#";
  font-weight: 500;
}
